table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .box_search {
    margin: 10px;

  }

  .mat-mini-fab{
    margin-right: 20px;
    width: 40;
    text-overflow: ellipsis;
    
  }

  #options, #options_buttons{
    text-align: center;
  }

  .btn_add_cliente{
    margin: 20px 0;
    text-align: left;

  }