<div class="container container-fluid">
  <div class="btn_add_cliente">
    <button mat-raised-button color="primary" (click)="add()">Incluir Cliente </button>
  </div>
  <h1>Lista de Clientes</h1>
  <mat-label>Pesquisar</mat-label>
    <input matInput (keyup)="applyFilter($event)" class="box_search" #input>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>
    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef> CPF </th>
      <td mat-cell *matCellDef="let row"> {{row.cpf}} </td>
    </ng-container>
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
    </ng-container>
    <ng-container matColumnDef="sobrenome">
      <th mat-header-cell *matHeaderCellDef> Sobrenome </th>
      <td mat-cell *matCellDef="let row"> {{row.sobrenome}} </td>
    </ng-container>
    <ng-container matColumnDef="op">
      <th id="options" mat-header-cell *matHeaderCellDef> Opções </th>
      <td class="mat-cell-btns" mat-cell *matCellDef="let row">
        <button mat-mini-fab (click)="delete(row)" color="primary" aria-label="Example icon button with a delete icon" >
          <mat-icon>delete</mat-icon>
        </button>
        <button  mat-mini-fab  (click)="update(row)" color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>edit</mat-icon>
        </button>
        <button  mat-mini-fab   (click)="listOrdens(row)" color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>list</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Nenhum Cliente Encontrado com atributo<b> " {{input.value}}" </b></td>
    </tr>
  </table>
</div>