<div class="container container-fluid">
    <h1>Produtos</h1>

    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Descrição</th>
                <th>Id</th>

                <th class="text-center">
                    <a  
                    (click)="onRedirectNew()" title="Novo" alt="Novo" class="btn btn-xs btn-success">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Novo
                    </a>
                </th>
            </tr>
            <tr *ngFor="let produto of produtos">
                <td>{{ produto.description }}</td>
                <td>{{ produto.id_produto }}</td>
                <td class="text-center" style="width: 300px;">
                    <a (click)="onRedirectEdit(produto.id_produto)" style="margin-right: 10px;" title="atualizar" alt="atualizar" class="btn btn-xs btn-primary">
                        <i class="fa fa-pen" aria-hidden="true"></i>
                        Atualizar
                    </a>
                    <a style="margin-right: 10px;" title="Remover" alt="Remover" class="btn btn-xs btn-danger"
                    (click)="remover($event, produto)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Remover
                    </a>
                </td>
            </tr>
            
        </tbody>
    </table>
    <p style="color: red;" *ngIf="produtos.length==0">Nenhum Cliente cadastrado!</p>

</div>