<h1 mat-dialog-title>Novo Produto</h1>
<div mat-dialog-content> 
    <form class="example-form" [formGroup]="formProduto">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>descrição</mat-label>
            <input matInput formControlName="descricao" name="descricao">
        </mat-form-field>
        <br>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="inserir()">Salvar</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-button (click)="cancel()">Cancelar</button>
</div>
