<div class="container container-fluid">
    <h1>Novo Produto</h1>
    <div class="well">
        <form #formProduto="ngForm">
            <div class="form-group col-md-6">
                <label for="descricao">descrição:</label>
                <input type="text" class="form-control " id="descricao" name="descricao" minlength="2" required
                [(ngModel)]="produto.descricao" #descricao="ngModel">
                <div *ngIf="descricao.errors && (descricao.dirty || descricao.touched)" class="alert alert-danger">
                    <div [hidden]="!descricao.errors.required">Digite a descrição do produto.</div>
                    <div> descrição deve conter ao menos 2 caracteres.</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="id">Id:</label>
                <input type="numbert" class="form-control " id="id" name="id" required
                [(ngModel)]="produto.id" #id="ngModel" numerico>
                <div *ngIf="id.errors && (id.dirty || id.touched)" class="alert alert-danger">
                    <div [hidden]="!id.errors?.required">
                        Digite o id do cliente
                    </div>
                </div>
            </div>
            <a style="margin-right: 20px;" class="btn btn-secondary" [routerLink]="['/produtos']">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Voltar
            </a>
            <button type="button" class="btn btn-primary" (click)="inserir()" [disabled]="!formProduto.form.valid">
                <i class="fa fa-save" aria-hidden="true"></i>
                Salvar
            </button>
        </form>
    </div>

</div>
