table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .btn_add_produto{
    margin: 20px 0;

  }


  .box_search {

    margin: 10px;

  }

  .mat-cell-btns {
    text-align: center;
    justify-content:center;
  }

  
  .btn_option{
    overflow: hidden;
    margin-left: 350px;
    margin-right: 70px;
    width: 50;
    text-overflow: ellipsis;
    white-space: nowrap
  }


  #options {
    text-align: center;
  }