
<h1 mat-dialog-title>Novo Cliente</h1>

<div mat-dialog-content> 
    <form class="example-form" [formGroup]="formCliente">


        
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>C.P.F</mat-label>
            <input matInput formControlName="cpf" id="cpf"  name="cpf" >
          </mat-form-field>
          <br>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome" name="nome">
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Sobrenome</mat-label>
            <input matInput formControlName="sobrenome" name="sobrenome">
          </mat-form-field>


    </form>

</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="inserir()">Salvar</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-button (click)="cancel()">Cancelar</button>
</div>

