<form class="example-form" [formGroup]="formPedido">
  <div class="row">
    <h3>Adicionar Produto a lista</h3>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-floating mb-3">
        <mat-form-field appearance="fill">
          <mat-label>Produto</mat-label>
          <mat-select #prod (selectionChange)="changeProduto($event.value)">
            <mat-option *ngFor="let produto of produtos" [value]="produto">
              {{produto.descricao}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-3">
      <div class="form-floating mb-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Quantidade</mat-label>
          <input type="number" matInput placeholder="0" required min="1" (change)="changeValue($event)" name="quantidade">
          <mat-error *ngIf="formPedido.get('quantidade')?.errors?.required">
            Insira a Quantidade
          </mat-error>
          <mat-error *ngIf="formPedido.get('quantidade')?.errors?.minlength">
              A Quantidade deve ser maior que Zero
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col">
      <div class="form-floating mb-3">
        <button mat-flat-button color="primary" [disabled]="!formPedido.valid" (click)='addItem()'>Adicionar</button>
      </div>
    </div>
  </div>
  <div class="form-floating mb-3">
    <mat-list class="mat-elevation-z8 " #matItem>
      <mat-list-item *ngFor="let it of items">
        {{it.produto.descricao}}
        <button type="button" class="btn btn-outline-danger btn-sm pull-right" (click)='removeItem(it)'>Remover</button>
      </mat-list-item>

    </mat-list>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="inserir()">Salvar</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-button (click)="cancel()">Cancelar</button>
  </div>
</form>