<form class="example-form" [formGroup]="formPedido">
  <div class="row">

    <form class="cpf-form">
      <div class="row">
        <div class="col-9">
          <div class="form-floating mb-3">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>CPF</mat-label>
              <input matInput formControlName="cpf" name="cpf" type="text" aria-label="CPF"
                aria-describedby="basic-addon2"  (change)="changeCPF($event)">
            </mat-form-field>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3">
            <button mat-flat-button color="primary"(click)='getOneClientes(cpf)' >Pesquisar</button>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3">
            <a>CPF: {{cliente.cpf}}</a><br>
            <a>Nome: {{cliente.nome}}</a><br>
            <a>Sobrenome: {{cliente.sobrenome}}</a><br>
        </div>
      </div>
      </div>
    </form>
    <br>
    <div class="mb-4">
      <hr class="solid">
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-floating mb-3">
        <mat-form-field appearance="fill">
          <mat-label>Produto</mat-label>
          <mat-select #prod (selectionChange)="changeProduto($event.value)">
            <mat-option *ngFor="let produto of produtos" [value]="produto">
              {{produto.descricao}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-3">
      <div class="form-floating mb-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Quantidade</mat-label>
          <input type="number" matInput placeholder="0" (change)="changeValue($event)" name="quantidade">
        </mat-form-field>
      </div>
    </div>
    <div class="col">
      <div class="form-floating mb-3">
        <button mat-flat-button color="primary" (click)='addItem()' >Adicionar</button>
      </div>
    </div>
  </div>
  <div class="form-floating mb-3">
    <mat-list class="mat-elevation-z8 " #matItem>
      <mat-list-item *ngFor="let it of items">
        {{it.produto.descricao}}
        <button type="button" class="btn btn-outline-danger btn-sm pull-right">Remover</button>
      </mat-list-item>

    </mat-list>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="inserir()">Salvar</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-button (click)="cancel()">Cancelar</button>
  </div>
</form>