


<mat-card class="example-card" style="padding-top: 40px; padding-left: 2%; padding-right: 2%;">
    <mat-card-title>DAS - Curso Especialização em Desenvolvimento Ágil de Software </mat-card-title>
    <mat-card-subtitle>Desenvolvimento WEB - Prof. Dr. Razer A N R Montaño (razer@ufpr.br)</mat-card-subtitle>
    <mat-card-content><strong>EQUIPE</strong><br>
        Kleyton Lucas de Souza<br>
        Andre Luiz Mateus Da Silva<br>
        Douglas Antonio Novaki<br>
        Sergio Henrique Costa<br>
        Tiago Soares da Silva<br>
        João Carlos dos Santos Ramos</mat-card-content>
  </mat-card>
 