<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="clientes/listar">
      <mat-icon>person</mat-icon>
      <span>Clientes</span>
    </button>
    <button mat-menu-item routerLink="produtos/listar">
      <mat-icon>inventory_2</mat-icon>
      <span>Produtos</span>
    </button>
  </mat-menu>
  <span>DAS - Trabalho Desenvolvimento Web </span>
</mat-toolbar>
<router-outlet></router-outlet>
