<h1>Pedidos de {{ cliente.nome }}</h1>

<div class="container container-fluid">
  <div class="btn_add_pedido">
    <button mat-raised-button color="primary" (click)="inserirPedido()">Incluir Pedido </button>
  </div>
  <div class="container mt-5 mb-3">
    <div class="row">
      <div class="col-md-4" *ngFor="let pedido of pedidos">
        <div class="card p-3 mb-2">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
              <div class="ms-2 c-details">
                <span class="text1">Pedido Nº: {{pedido.id}}</span>
              </div>
            </div>
            <div class="badge"> <button mat-raised-button color="warn" (click)="deletarPedido(pedido)">Deletar </button>
            </div>
          </div>
          <div class="mt-3">
            <h3 class="heading">Data do pedido<br>{{pedido.data | date: 'dd/MM/yyyy'}}</h3>
            <div class="mt-3">
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                  <div class="mt-3"> <span class="text1">22<span class="text2"> Produtos no pedido</span></span> </div>
                </div>
                <div class="badge"> <button mat-raised-button color="primary" (click)="listarItemsDoPedido(pedido)">Ver
                    todos </button> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button routerLink="../../../clientes" class="btn btn-lg btn-danger"
    style="float: right; margin-top: 12px;">Voltar</button>
</div>